# Mac OS X files
*.DS_Store

# Xcode files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
*.xccheckout
xcuserdata/

# Backup files
*~.nib
\#*#
.#*

# CocoaPods files
Pods/