<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KIOAppInitialUUID</key>
	<string>f7826da6-4fa2-4e98-8024-bc5b71e0893e</string>
	<key>UUIDArray</key>
	<array>
		<string>ebefd083-70a2-47c8-9837-e7b5634df524</string>
		<string>f7826da6-4fa2-4e98-8024-bc5b71e0893e</string>
	</array>
</dict>
</plist>
